tittle {
     font-size: 36px;
color: blue;}
}
body {
background-image: linear-gradient(45deg, transparent 0%, transparent 46%,rgba(114, 114, 114,0.06) 46%, rgba(114, 114, 114,0.06) 70%,transparent 70%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 59%,rgba(114, 114, 114,0.06) 59%, rgba(114, 114, 114,0.06) 91%,transparent 91%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 15%,rgba(114, 114, 114,0.06) 15%, rgba(114, 114, 114,0.06) 40%,transparent 40%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));}
h1 {
color: black;
text-align: center;
word-spacing: 1em;}
p.one {
text-align: center;
background-color: rgb(150,150,200);
}

.image-row {
    display: flex; /* Display as flex row */
    justify-content: space-between; /* Space out evenly */
    align-items: center; /* Align items vertically in the center */
}
a:link {
color: black;
text-align: right;
word-spacing: 1em;
text-decoration: none;}
a:visited {
color: black;}
a:hover {
color: deeppink;
text-decoration: underline;}
a:active {
color: darkcyan;}
p.credits {
font-style: italic;
text-align: right;}
a {
text-decoration: none;}
a:hover {
text-decoration: underline;}
p.credits{
color: green;}
